<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.4.1" targetFramework="net48" />
  <package id="MESAutoLineClient" version="1.0.130.20483" targetFramework="net48" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="Oracle.ManagedDataAccess" version="19.3.0" targetFramework="net48" />
</packages>
